body
{
    font-family: 'Roboto', sans-serif;
    margin: 8px;
}

h1 {
    text-align: center;
    font-size: 45px;
    text-decoration: underline overline;
    text-decoration-color: #1976d2;
}

h2 {
    text-align: center;
    font-size: 25px;
    text-decoration-color: #1976d2;
}

p {
    text-align: left;
    font-size: 15px;
}

.footer {
    font-size: 9px;
    padding: 0.4%;
    margin: 0.5%;
}

a:link {
    color: #004ba0;
}

a:hover {
    color: #63a4ff;
}

a:visited {
    color: #004ba0;
}

b {
    color: #004ba0;
}
