.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.header {
  grid-column: 1 / span 2;
}

.navbar {
  grid-column: 1 / span 2;
  padding: 1em;
  border-top: 1.5px solid #1976d2;
  border-bottom: 1.5px solid #1976d2;
  text-align: center;
  max-height: 3em;
}

.contentBox {
  padding: 1em;
  border: 1px solid #004ba0;
  box-shadow: 5px 10px 8px #004ba0;
  margin: 0.5em;
}

#einleitung {
  grid-column: 1 / span 2;
}

#headerEinleitung {
  animation-name: blur;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#definitionElement {
  grid-column: 1 / span 1;
  grid-row: 4;
}

#codeOhneGauss {
  grid-column: 2 / span 1;
  grid-row: 4;
}

#bildOhneGauss {
  grid-column: 1 / span 1;
  grid-row: 5;
  text-align: center;
}

#gaussHinzufügen {
  grid-column: 2 / span 1;
  grid-row: 5;
}

#codeMitGauss {
  grid-column: 1 / span 1;
  grid-row: 6;
}

#bildMitGauss {
  grid-column: 2 / span 1;
  grid-row: 6;
  text-align: center;
}

@keyframes blur {
  0% {filter: blur(0px);}
  50% {filter: blur(2px);}
  100% {filter: blur(0px);}
}
