.NavBar {
    padding: 16px;
    border-top: 1.5px solid #1976d2;
    border-bottom: 1.5px solid #1976d2;
    text-align: center;
    max-height: 48px;
}

.TopicWrapper {
    position: relative;
    border: 1px solid #004ba0;
    box-shadow: 5px 10px 8px #004ba0;
    margin: 19.032px 9.516px;
}

.TopicWrapper>div {
    padding: 7.609px;
}

.TopicWrapper>div:last-of-type {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.TopicWrapper>div:first-of-type {
    position: static;
}

.TopicWrapper>div:first-of-type h2{
    text-align: left;
}

#square {
    position: relative;
    top: 50%;
    height: 100px;
    margin: auto;
    transform: translateY(-50px);
}

#rect {
    fill: rgb(200, 200, 0);
    stroke-width: 3;
    stroke: rgb(0, 0, 0);

}
