.flexWrapper {
    display: flex;
    flex-direction: column;
}

.flexHeader {
    text-align: center;
}

.flexNavBar {
    border-top: 1.5px solid #1976d2;
    border-bottom: 1.5px solid #1976d2;
    max-height: 3em;
}

#centeredText {
    text-align: center !important;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexContent {
    padding: 0.4%;
    border: 1px solid #004ba0;
    box-shadow: 5px 10px 8px #004ba0;
    margin: 0.5%;
    flex-basis: 0;
    flex-grow: 1;
}

.flexFooter {
    font-size: 9px;
}

.svgCenter {
    display: block;
    margin: auto;
}

.svgCenterAnim {
    border: 3px solid green;
    display: block;
    margin: auto;
    animation-name: svgFade;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

#animTop {
    
}

#animMiddle {
    animation-delay: 5s;
}

#animBottom {
    animation-delay: 10s;
}
@keyframes svgFade {
    0% {
        opacity: 0;
        left: 50%;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        left: -50%;
    }
}

.marker {
    border: 3px solid red;
}