.flexWrapper {
    display: flex;
    flex-direction: column;
}

.flexHeader {
    
}

.flexNavBar {
    border-top: 1.5px solid #1976d2;
    border-bottom: 1.5px solid #1976d2;
    text-align: center;
    max-height: 3em;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexContent {
    padding: 0.4%;
    border: 1px solid #004ba0;
    box-shadow: 5px 10px 8px #004ba0;
    margin: 0.5%;
    flex-grow: 1;
}

.flexFooter {
    font-size: 9px;
}

.svgCenter {
    display: block;
    margin: auto;
}