.flexWrapper {
    display: flex;
    flex-direction: column;
}

.flexHeader {
    text-align: center;
}

.flexNavBar {
    border-top: 1.5px solid #1976d2;
    border-bottom: 1.5px solid #1976d2;
    max-height: 3em;
}

#centeredText {
    text-align: center !important;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexContent {
    padding: 0.4%;
    border: 1px solid #004ba0;
    box-shadow: 5px 10px 8px #004ba0;
    margin: 0.5%;
    flex-basis: 0;
    flex-grow: 1;
}

.noBorderFlexContent {
    padding: 0.4%;
    margin: 0.5%;
    flex-basis: 0;
    flex-grow: 1;
}

.flexFooter {
    font-size: 9px;
}

.svgCenter {
    display: block;
    margin: auto;
}

.animRotateSVGcentered {
    display: block;
    margin: auto;
    animation-name: animRotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes animRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.marker {
    border: 3px solid red;
}

#marker {
    border: 3px solid red;
}