header {
    margin: 0 auto;
}

nav {
    padding: 1em;
    border-top: 1.5px solid #1976d2;
    border-bottom: 1.5px solid #1976d2;
    text-align: center;
    max-height: 3em;
}

section {
    padding: 1em;
    border: 1px solid #004ba0;
    box-shadow: 5px 10px 8px #004ba0;
    margin: 19.032px 9.516px;
    width: 45%;
    height: auto;
}

#intro {
    float: none;
    width: auto;
}



@media screen and (min-width:1101px) {
    .left {
        clear: both;
        float: left;
    }

    .right {
        float: right;
    }
}
@media screen and (max-width:1100px) {
    .left {
        float: none;
        width: auto;
    }

    .right {
        float: none;
        width: auto;
    }
}

@keyframes move {
    0% { opacity: 1; transform: scale(1, 1);}
    100% { opacity: 0.5; transform: scale(1.1, 1.1);}
}

svg {
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}